.about-container{
    height: 100%;
    width: 100%;
    display: grid;
    overflow-y: scroll;
    margin: .1rem;
    padding: 0 2rem 2rem;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    background-color: var(--color-background);
    align-items: flex-start;
    font-family: monospace, sans-serif;
}

.about-me{
    color: var(--color-text);
    display: flex;
    align-items: center;
    /* padding: 2rem; */
    margin: 4rem 0;
    line-height: 1.2;
}

.about-me p{
    text-align: start;
    margin-bottom: 1.25rem;
}

.about-me ul{
    text-align: justify;
    padding: 0 2rem;
}

.technologies{
    grid-column: span 2;
    background-color: var(--color-technology-bg);
    padding: 2rem 1rem;
    margin: 0 25rem;
    border-radius: 7px;
}

.technologies h3{
    margin: 0 1rem 1rem;
    font-size: 1.5rem;
    color: var(--color-lighgray);
    text-align: left;
}

.technologies-list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.tech-icons{
    color: var(--color-white);
    text-align: center;
    background-color: transparent;
    font-size: 2rem;
    margin: 0 .75rem;
}

.display-pic{
    margin: 4rem 0;
}

@media screen and (max-width: 768px) {
    .about-container{
        grid-template-columns: 1fr;
        overflow-y: scroll;
        row-gap: 2rem;
        column-gap: 0;
    }

    .about-me{
        grid-row: 1;
        font-size: 1rem;
        /* padding: 0.5rem;  */
    }

    .about-left{
        grid-row: 2;
    }

    .display-pic{
        max-width: 100%;
        margin: auto;
        align-items: center;
    }

    .technologies{
        grid-row: 3;
        margin: 2rem 0 4rem;
    }

    .technologies h3{
        font-size: 2rem;
    }
}