.projects-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.75fr 2fr; 
    overflow: hidden;
    justify-items: center;
}
  
.projectHeading{
    grid-row: 1;
    color: var(--color-gray);
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-lighgray);
    margin: 0 30px;
    justify-self: stretch;
}
  
.projectHeading h2{
    font-size: 60px;
    font-weight: 150;
}
  
.projects{
    grid-row: 2; 
    overflow-y: scroll;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr;
    column-gap: 1.75rem;
    row-gap: 2rem;
    padding: 2rem 1.75rem;
    align-items: stretch;
}
  
.project-details{ 
    background-color: var(--color-blue);
    color:var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.project-heading{
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.project-description{
    align-self: center;
    font-size: 1rem;
    margin: 0.75rem 0;
    text-align: justify;
}

.icon-footer{
    align-self: flex-end;
}

.git-Icon{
    color: var(--color-white);
    background-color: transparent;
    font-size: 1.5rem;
    margin: 0 .75rem;
}

.git-Icon:hover{
    cursor: pointer;
}

@media (max-width:768px){
    .projects{
        grid-template-columns: 1fr;
        padding: 2.5rem 4rem;
    }

    .project-description{
        margin: 1rem;
    }

    .project-details{
        padding: 1rem 1.5rem;
    }
}